// App.scss

@import "variables";

.App {
  text-align: center;

  .Nav-Header {
    display: flex;
    align-items: center;
    background-color: #282c34;
    height: auto;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;

    a {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      margin: 0px 10px;

      img {
        width: auto;
        height: 60px;
        margin: 5px;
      }
    }

    .section {
      display: flex;
      align-items: center;

      a {
        padding: 10px;
        font-size: 10px;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .Body {
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
    }

    section {
      margin-bottom: 30px;

      p {
        font-size: 16px;
      }
    }

    .gallery-container {
      background-color: $blue;
    }
  }

  .Footer {
    // Incluir estilos del Footer.scss aquí
  }
}
